PORT=8000
MONGO_URI=mongodb+srv://test:123456@cluster0.ohmvj.mongodb.net/

CLOUDINARY_CLOUD_NAME=dasdas5nwk
CLOUDINARY_API_SECRET=alskjdhlaskHAGSDUY3FCvY55X-T93ag1zc
CLOUDINARY_API_KEY=26923617128379155

# REDIS_HOST=redis-16403.c305.ap-south-1-1.ec2.redns.redis-cloud.com
# REDIS_PORT=16403
# REDIS_PASSWORD=aASdUkdhkajshGVGAK2KCugejBqlFR7KmBq

WEBHOOK_URL=https://webhook.site/9efb83dc-3acb-4e22-a45f-40e822aa4fd5